.list {
  list-style-type: none;
  width: 95%;
  overflow-y: scroll;
}

.slide {
  position: relative;
  width: 90%;
  height: 14vh;
  border: 5px solid black;
  margin-top: 5%;
}

.current {
  position: relative;
  width: 90%;
  height: 14vh;
  border: 5px solid green;
  margin-top: 5%;
}
