.list {
  list-style-type: none;
  width: 95%;
  overflow-y: scroll;
}

.slide {
  background-color: white;
  position: relative;
  width: 90%;
  height: 14vh;
  border: 5px solid black;
  margin-top: 5%;
}

.current {
  border: 5px solid #00cc99;
}
