/*
Функционал с открытием меню в данное время ВЫРЕЗАН МНОЮ ЛИЧНО
Для его возвращения необходимо сменить visibility (в .blockwithbtn) с none на hidden
*/

.blockwithbtn {
  top: 6.5%;
  left: 4.35%;
  visibility: visible;
  z-index: 2;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 3.5%;
  border: none;
  height: 7.5%;
}

.openmenubtn {
  top: 7.25%; 
  left: 4.35%;
  position: absolute;
  background-image: linear-gradient(#008170, #006658);
  border-radius: 4px;
  z-index: 2;
  color: white;
  width: 3.5%;
  border: none;
  visibility: hidden;
}

.blockwithbtn:hover,
.openmenubtn:hover + .blockwithbtn {
  visibility: visible;
}

.btn {
  background-image: linear-gradient(#008170, #006658);
  color: white;
  width: 100%;
  border-radius: 4px;
  border: none;
}

.inputload {
  position: absolute;
  visibility: hidden;
}
